<div class="auth">
    <div class="inputs">
        <input autocomplete="off" id="login" placeholder="login" type="text">
        <input autocomplete="off" type="password" id="password" placeholder="pass">
    </div>
    <button class="loginb" id="loginButton">enter</button>
    <button class="closeb" id="closeAuthButton"> <a>закрыть</a> </button>
</div>