.body{
    font-family: 'Montserrat', sans-serif;
}

html {
    box-sizing: border-box;
}
  *,
  *:before,
  *:after {
    box-sizing: inherit;
}

/* auth only */
.auth{
    height: 200px;
    margin-top: 32px;
    width: 100%;
    display: none;
    flex-direction: column;
    align-items: center;
}
.closeb{
    background: white;
    border-style: none;
}
.closeb a{
    color: #000;
}
.inputs{
    display: flex;
    flex-direction: column;
    width: 200px;
}
.inputs input{
    margin-top: 2px;
    text-align: center;
}
.loginb{
    margin-top: 8px;
    width: 100px;
}

/*addThePost*/

.addPost{
    padding-top: 5%;
    display: none;
}

/*
Section
*/

.sections {
    padding-top: 100px;
    padding-bottom: 100px;
    position: relative;
    overflow: hidden;
}
.overlay {
    background-color: rgba(0, 0, 0, .55);
    width: 100%;
	overflow:hidden;
	min-height:600px;
}
.no-padding {
    padding: 0 !important;
}

/*For Home Page Style*/

.header{
    height: 80px;
    position: sticky;
    top: -1px;
	background:rgba(0,0,0,0.7);
	padding-top:20px;
    display: flex;
    justify-content: center;
    z-index: 3;
}
.header-container{
    width: 70%;
    display: flex;
    align-items: center;
}
.header-logo{
    width: 100%;
    color: white;
    font-size: xx-large;
	font-family: 'Montserrat', sans-serif;
    font-weight: 600;
    display: flex;
    align-items: end;
}
.menu-button{
    width: 10%;
    display: flex;
    justify-content: end;
    align-items: baseline;
    margin-bottom: 16px;
}

@media screen and (max-width: 900px) {
    .header-logo{
        font-size: x-large;
    }
    .menu-button{
        margin-bottom: 10px;
    }
    .menu-button img{
        scale: 0.8;
    }}
@media screen and (max-width: 430px) {
    .header{
        height: 60px;
    }
    .header-container{
        width: 90%;
        display: flex;
    }
    .header-logo{
        font-size: large;
    }
    .menu-button{
        justify-content: center;
        align-items: center;
    }
    .menu-button img{
        scale: 0.6;
    }
    .overlay {
        background-color: rgba(0, 0, 0, .55);
        width: 100%;
        overflow:hidden;
        min-height:600px;
    }
}

/* Dropdown Button */
.dropbtn {
    font-size: 16px;
    border: none;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: gray;
    right: 0;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 3;
}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #ddd;}
.dropdown:hover .dropdown-content {display: block;}
.no-button{
    padding: 0;
    border: none;
    font: inherit;
    color: inherit;
    background-color: transparent;
    width: 100%;
    cursor: pointer;
    text-align: start;
}

/* Achivement Section */

.left-void{
    width: 15%;
    background: rgba(0, 0, 0, 0.55);
}
.right-void{
    width: 15%;
    background: rgba(0, 0, 0, 0.55);
}
.achivement{
    margin-top: -80px;
	background: url(/cars.jpg) no-repeat top center fixed;
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	overflow: hidden;
	color:#fff;
    display: flex;
    flex-direction: row;
}
.achivement-content{
    display: flex;
}
.achivement-details{
    margin-top: 160px;
	margin-bottom: 30px;
    margin-left: 5%;
    width: 90%;
}
.buttona {
    display: inline-block;
    color: black;
    background-color:  rgba(255,255,255,.6);
    font-weight: 700;
    padding: .5em 2em;
    margin-top: 2em;
    outline: none;
    border: 2px solid;
    border-radius: 8px;
    transition: 0.2s;
} 
.buttona:hover { 
    background: rgba(255,255,255,.2);
    text-decoration: none; 
    color: #000;
}
.buttona:active { background: white; }
.achivement-details .more {
	padding-top:50px;
}
.achivement-details .more a{
    color:#fff;
	border-color:#fff;
	
}
.achivement-details h2{
	font-size: 44px;
    font-weight: 500;
    text-transform: uppercase;
	font-family: 'Montserrat', sans-serif;
	margin-bottom: 25px;
}
.achivement-details p{
	max-width:60%;
}

@media screen and (max-width: 900px) {
    .achivement-details h2{
        font-size: 32px;
        margin-bottom: 20px;
    }
}
@media screen and (max-width: 430px) {
    .left-void{
        width: 5%;
        background: rgba(0, 0, 0, 0.55);
    }
    .right-void{
        width: 5%;
        background: rgba(0, 0, 0, 0.55);
    }
    .achivement{
        max-height: 500px;
        background: no-repeat top center/110% fixed url(/cars2.jpg);
    }
    .achivement-details{
        margin-top: 60px;
    }
    .achivement-details h2{
        font-size: 24px;
        margin-bottom: 12px;
    }
    .achivement-details p{
        max-width:85%;
    }
}


/*main*/

.main{
	display: flex;
    width: 100%;
}

.left-side{
	width: 15%;
}

.center-side{
	width: 70%;
}

.right-side{
    width: 15%;
}

/*For About Section */

.about-us{
	padding-top: 32px;
    padding-bottom: 32px;
}

.about-us-upside{
	text-align: center;
}

.h3{
	font-size: 28px;
    font-weight: 700;
}

.about-us-downside{
	display: flex;
	padding-top: 20px;
	text-align: center;
}

.about-container{
	width: 29%;
}

.void{
	width: 6%;
}

.h5{
	font-size: 18px;
}

.text-about{
	font-size: 16px;
}

@media screen and (max-width: 900px) {
    .left-side{
        width: 5%;
    }
    .left-void{
        width: 5%;
    }
    .right-side{
        width: 5%;
    }
    .center-side{
        width: 90%;
    }
    .about-us{
        padding-top: 12px;
        padding-bottom: 12px;
    }    
    .about-us-downside{
        display: flex;
        padding-top: 20px;
        flex-direction: column;
    }
    .about-container{
        width: 100%;
    }
    .text-about{
        font-size: 14px;
    }
    .h5{
        font-size: 18px;
    }
    .h3{
        font-size: 24px;
        font-weight: 700;
    }
}

/* Portfolio Section */

.portfolio{
	padding-top: 32px;
    display: flex;
    flex-direction: column;
    padding-bottom: 32px;
}

.portfolio-heading{
    text-align: center;
}

.grid-items{
    padding-bottom: 10px;
    display: flex;
    flex-flow: row wrap;
}
.grid-item {
    width: calc((100% - 24px * 2) / 3);
    margin-top: 34px;
    margin-right: 24px;
    float: left;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.grid-item:nth-child(3n) {
    margin-right: 0;
    float: right;
}

.grid-item img{
    max-width: 100%;
    aspect-ratio: 4/3;
}

.portfolio-carname{
    font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 900px) {
    .grid-item {
        width: calc((100% - 5% * 2) / 2);
        margin-top: 34px;
        margin-right: 10%;
        float: left;
        justify-content: center;
        align-items: center;
        text-align: center;
    }
    .grid-item:nth-child(2n) {
        margin-right: 0;
        float: right;
    }
    .grid-item:nth-child(3n) {
        margin-right: 10%;
    }
    .portfolio-carname{
        font-size: 12pt;
    }
    .grid-item p{
        font-size: 8pt;
    }
}

@media screen and (max-width: 768px) {
    .portfolio{
        padding-top: 12px;
        display: flex;
        flex-direction: column;
        padding-bottom: 16px;
    }}

/* Features Section */

.features{
    display: flex;
    flex-direction: column;
    padding-bottom: 50px;
}

.features-cases{
    display: flex;
    flex-direction: column;
    width: 100%;
}

.features-case{
	margin-bottom:60px;
    width: 100%;
    display: flex;
    text-align: center;
}

.pseudo2{ display: none; }

.features-case img{
    width: 48%;
    height: min-content;
    aspect-ratio: 117/65;
}
.features-void{
    width: 25%;
}
.features-case h6{
	font-family: 'Montserrat', sans-serif;
}

@media screen and (max-width: 768px) {
    .pseudo-container{
        display: flex;
        justify-content: center;
    }
    .features-case{
        display: flex;
        flex-direction: column;
    }
    .pseudo{ display: none; }
    .pseudo2{ display: flex; }
}
@media screen and (max-width: 430px) {
    .features-case{
        margin-bottom: 20px;
        margin-top: 24px;
    }
    .features-case img{ width: 100%; }
}

/*For Counterup Section*/

.counterups{
    display: flex;
    width: 100%;
    justify-content: center;
    padding-bottom: 100px;
    padding-top: 100px;
}
.counterup{
    width: 25%;
    display: flex;
    justify-content: center;
}
.counterup-photo{
    display: flex;
	width: 25%;
	align-items: center;
    justify-content: center;
}
.counterup-content{
    width: 75%;
    padding-left: 4%;
}
.counterup-content h5{
	font-family: 'Montserrat', sans-serif;
	font-size:22px;
    text-align: center;
}
.counterup-content h6{
	font-size:18px;
	font-family: 'Montserrat', sans-serif;
    text-align: center;
}

@media screen and (max-width: 430px) {
    .counterups{
        padding-bottom: 30px;
        padding-top: 12px;
    }
    .counterup img{
        scale: 0.9;
    }
}

@media screen and (max-width: 1399px) {
    .counterup-photo{
        display: flex;
        width: 100%;
        align-items: center;
        justify-content: baseline;
    }
    .counterup-content{
        width: 100%;
        padding-left: 0%;
    }
    .counterup{
        flex-direction: column;
        justify-content: center;
        margin-left: 5px;
    }
    .counterup-content h5{
        font-size:18px;
    }
    .counterup-content h6{
        font-size:14px;
    }
}

/* For Thank You Section*/
.thankyou{
    justify-content: center;
    width: 100%;
    padding-bottom: 40px;
}
.wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}
.form-control1 {
    width: 100%;
    border: 0;
    font-size: 16px;
    height: 45px;
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #d1d1d1;
    border-radius: 0;
}
.form-control2 {
    width: 100%;
    border: 0;
    font-size: 16px;
    height: 45px;
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #d1d1d1;
    border-radius: 0;
}
.form-control3 {
    width: 100%;
    border: 0;
    font-size: 16px;
    height: 45px;
    background: transparent;
    box-shadow: none;
    border-bottom: 2px solid #d1d1d1;
    border-radius: 0;
}
.thank-you-form{
    width: 35%;
    min-width: 200px;
}
.buttontq{
    width: 100%;
    display: flex;
    justify-content: center;
}
.thankyou button{
    border: none;
    background-color: white;
}

/*For Footer Section*/

.footer{
	display: flex;
	justify-content: center;
	background:#292929;
	color:#707070;
	padding: 20px 20px;
    padding-bottom: 2px;
}
footer a{
    line-height: 120px;
    text-decoration: none; 
    color: #afafaf;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a:hover{
    text-decoration: none;
    color: #afafaf;
}
@media screen and (max-width: 959px) {
    footer a{
        line-height: 80px;
    }
}